The variable `{{ name }}` {{ isArray ? 'is an array that contains' : 'is' }} an element of type `{{ value.className }}` and cannot be passed into a Sprig component.
Instead of passing an element, consider passing its `id`.

=========================================================================

Before:

{{ '{{' }} sprig('_components/my-component', { '{{ name }}': {{ name }} }) {{ '}}' }}

-------------------------------------------------------------------------

After:

{{ '{{' }} sprig('_components/my-component', { '{{ name }}Id': {{ name }}.id }) {{ '}}' }}

Then in your component you could fetch the element using its `id`.

{% if value.className starts with 'craft\\' -%}

    {{ '{%' }} set {{ name }} = craft.{{ value.pluralLowerDisplayName }}.id({{ name }}Id).one() {{ '%}' }}

{%- endif %}
