{% extends '_layouts/cp' %}

{% set title = 'Sprig Playground'|t('sprig') %}

{% do view.registerAssetBundle('putyourlightson\\sprig\\assets\\PlaygroundAsset') %}


{% block main %}

    <div class="playground">
        <div>
            <div class="content-pane">
                <p class="light code">Input</p>
                <textarea id="input" class="code fullwidth field">
                    {%- verbatim -%}
<h1>
    Hello {{ currentUser.firstName }}!
</h1>

<button sprig s-vars="count:{{ count + 1 }}" class="btn submit">
    Re-render
</button>

<p>
    <em>Component re-rendered {{ count }} times</em>
</p>
                    {%- endverbatim -%}
                </textarea>
                <button id="create" type="submit" class="btn submit topright">Create</button>
            </div>
            <div class="variables content-pane">
                <p class="light code">Input Variables</p>
                <input id="input-variables" class="input code fullwidth field" value="count=0" placeholder="x=1,y=2,z=3">
            </div>
        </div>

        <div>
            <div class="output content-pane">
                <p class="light code">
                    Output
                    <span id="spinner" class="spinner" style="display: none;"></span>
                </p>
                <a href="#" id="output-toggle" class="btn topright">&lt;/&gt;</a>
                {{ sprig('SprigPlayground', {}, {id: 'playground'}) }}
                <textarea id="sourcecode" class="code fullwidth field" style="display: none;" disabled></textarea>
            </div>
            <div class="variables content-pane">
                <p class="light code">Output Variables</p>
                <input id="output-variables" class="input code fullwidth field" value="" disabled>
            </div>
        </div>
    </div>

    {{ sprig.script }}

{% endblock %}
