{% extends '_layouts/cp' %}

{% set title = 'Sprig Playground'|t('sprig') %}

{% do view.registerAssetBundle('putyourlightson\\sprig\\assets\\PlaygroundAsset') %}


{% block main %}

    <div class="playground">
        <div class="fields">
            <div class="content-pane">
                <p class="light code">Component</p>
                <textarea id="component" class="code fullwidth">
                    {%- verbatim -%}
<h1>
    Hello {{ currentUser.firstName }}!
</h1>

<button sprig s-vars="count:{{ count + 1 }}" class="btn submit">
    Re-render
</button>

<p>
    <em>Component re-rendered {{ count }} times</em>
</p>
                    {%- endverbatim -%}
                </textarea>
                <button id="create" type="submit" class="create btn submit">Create</button>
            </div>
            <div class="variables content-pane">
                <p class="light code">Variables</p>
                <input id="variables" class="input code fullwidth" value="count=0" placeholder="x=1,y=2,z=3">
            </div>
        </div>

        <div class="output">
            <div class="content-pane">
                <p class="light code">
                    Output
                    <a href="#" class="output-toggle btn small">&lt;/&gt;</a>
                    <span class="spinner" style="display: none;"></span>
                </p>
                <div class="component">
                    {{ sprig('SprigPlayground', {}, {id: 'playground'}) }}
                </div>
            </div>
            <div class="content-pane fields" style="display: none;">
                <p class="light code">
                    <a href="#" class="output-toggle btn small">Output</a>
                    &lt;/&gt;
                    <span class="spinner" style="display: none;"></span>
                </p>
                <textarea id="sourcecode" class="code fullwidth" disabled></textarea>
            </div>
        </div>
    </div>

    {{ sprig.script }}

{% endblock %}
