.playground {
    display: flex;
    align-items: flex-start;
 }

.playground > div {
    width: 50%;
}

.playground > div:first-of-type {
    margin-right: 10px;
}

.playground .content-pane {
    margin-bottom: 10px;
}

.playground code, .playground .code {
    font-size: 1em !important;
}

.playground textarea, .playground input {
    border: none;
    background: #fff;
}

.playground .output {
    height: 160px;
    overflow-y: auto;
}

.playground .btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.playground .spinner {
    position: absolute;
    margin: -8px 8px;
}
