{#--- _components/search ---#}

{# Sets a default value if not defined by the `query` input field below #}
{% set query = query ?? '' %}

{# Replaces only the `#results` div on keyup or when the value is changed #}
<div class="search">
    <input sprig s-trigger="keyup changed" s-replace="#results"
           type="text" name="query" value="{{ query }}" placeholder="Search" autocomplete="off">
    <div class="search-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="search-svg" viewBox="0 0 20 20"><path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path></svg>
    </div>
</div>
<div class="search">
    <div id="results">
        {% if query %}
            {% set entries = craft.entries.search(query).all() %}
            {% if entries|length %}
                <div class="results" style="display: block;">
                {% for entry in entries %}
                    <a href="{{ entry.url }}">{{ entry.title }}</a>
                {% endfor %}
                </div>
            {% else %}
                No results
            {% endif %}
        {% endif %}
    </div>
</div>
